<%- include ("partials/header")%>
<h1><%= pageTitle %> </h1>
<p><%= startingContent %></p>
<% posts.forEach(newPost=> { %>
    <hr>
    <div>
    <h2><%= newPost.title %></h2>
    <p><%= newPost.body.substring(0,100)+" ..." %><a href=<%="/posts/"+newPost.title%>>Read more</a></p>
    </div>
<% })%>
<%- include ("partials/footer")%>